/* LoginImageBanner.jsx */

.login-image-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.login-banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
